<div class="course-card" [ngClass]="cardClasses()">
  {{ cardIndex }}
  <div class="course-title">{{ course.description }}</div>
  <img
    width="300"
    alt="Angular Logo"
    *ngIf="isImageVisible(); else noImage"
    [src]="course.iconUrl"
  />
  <ng-template #noImage>No Image avaiable</ng-template>

  <div class="course-description">
    Edit Title: <input #courseTitle [value]="course.description" />
  </div>
  <div class="course-category" [ngSwitch]="course.category">
    <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
    <div class="category" *ngSwitchCase="'INTERMEDIATE'">INTERMEDIATE</div>
    <div class="category" *ngSwitchDefault>All Level</div>
  </div>
  <!-- <button (click)="onCourseViewed()">View Course</button> -->
  <button (click)="onSaveClicked(courseTitle.value)">View Course</button>
</div>
